.error {
  color: red;
  background: lightgray;
  padding: 10px;
  font-size: 20px;
  border: dotted 4px red;
  border-radius: 8px;
}

.message {
  color: green;
  background: lightgray;
  padding: 10px;
  font-size: 20px;
  border: solid 3px green;
  border-radius: 8px;
}
